<header>
  <nav class="relative bg-gradient-to-r from-red-500 via-pink-500 to-purple-500 shadow-lg">
    <div class="container mx-auto px-6 py-3 flex justify-between items-center">
        <div href="#" class="text-3xl font-extrabold text-white tracking-wide drop-shadow-lg">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-300 via-orange-200 to-red-300">
                Quick Shopping
          </span>
        </div>
    </div>
</nav>
</header>

<div class="container">
    <router-outlet></router-outlet>
</div>


