<header>
  <nav class="navbar navbar-expand-lg shadow-lg" style="background: linear-gradient(to right, #ef4444, #ec4899, #8b5cf6);">
    <div class="container d-flex justify-content-between align-items-center py-2">
      <a href="#" class="navbar-brand text-white fw-bold fs-3 text-shadow">
        <span style="background: linear-gradient(to right, #fde047, #fbbf24, #f87171);
                     -webkit-background-clip: text;
                     -webkit-text-fill-color: transparent;">
          Quick Ecommerce Shopping
        </span>
      </a>
    </div>
  </nav>
</header>
<app-product-list></app-product-list>

